<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= locals.title %></title>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <main>
      <% if(locals.subTitle) { %>
      <h1><%= subTitle %></h1>
      <%} %> <% if(locals.isEdit === false) { %>
      <form
        action="/folder/<%= parentFolder ? parentFolder.id : 'root'%>/create"
        method="POST"
      >
        <label><input type="text" name="newFolderName" required /></label>
        <a
          href="/folder/<%= parentFolder ? parentFolder.id : 'root' %>"
          class="btn-link"
          >Cancel</a
        >
        <button type="submit">Create new folder</button>
      </form>
      <% } else { %>

      <form action="/folder/<%= folder.id ? folder.id : 'root'%>/edit" method="POST">
        <label>Name<input type="text" name="newFolderName" value="<%= folder.name %>" required/></label>
        <a
          href="/folder/<%= folder.parentId ? folder.parentId : 'root' %>"
          class="btn-link"
          >Cancel</a
        >
        <button type="submit">Change folder name</button>
      </form>

      <% } %>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>