<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arqive - Folder</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Hello world</h1>
    <% if(locals.user) { %>
    <h2><%= user.username %></h2>
      <p><a href="/folder">root</a></p>
      <% if(locals.breadcrumb && locals.breadcrumb.length > 0) { %>
          <% for(let i = breadcrumb.length - 1; i >= 0; i--) { %>
              <p>-> <a href="/folder/<%=breadcrumb[i].id%>"><%= breadcrumb[i].name %></a></p>
         <% } %>
     <% } %>
    
    <button class="create-folder-btn">Create Folder</button>
    <button class="add-file-btn">Add File</button>

    <% if(locals.folders && locals.folders.length > 0) { %> <%
    folders.forEach(function(folder) { %>
    <p><%=folder.name%></p>
    <a href="/folder/<%=folder.id%>">Open</a>
    <a href="/folder/<%=folder.id%>/delete">Delete</a>
    <% }) %> <% } else { %>
    <p>No folders</p>
    <% } %>

    <% if(locals.files && locals.files.length > 0) { %> <%
      files.forEach(function(file) { %>
        <img style="width: 100px;" src="<%= file.url%>" alt="image 1" />
      <p><%=file.name%></p>
      <a href="/folder/<%=file.id%>/delete-file">Delete</a>
      <% }) %> <% } else { %>
      <p>No files</p>
      <% } %>

    <dialog class="folder-modal">
      <form
        action="/folder/<%= parentFolder ? parentFolder.id : 'root'%>/create"
        method="POST"
      >
        <label
          >Folder Name<input
            type="text"
            name="newFolderName"
            id="newFolderName"
        /></label>
        <button type="button" class="cancel-btn">Cancel</button>
        <button type="submit">Add Folder</button>
      </form>
    </dialog>

    <dialog class="file-modal">
      <form
        action="/folder/<%= parentFolder ? parentFolder.id : 'root'%>/add-file"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" id="file" />
        <button type="button">Cancel</button>
        <button type="submit">Add File</button>
      </form>
    </dialog>
    <% } %>

    <script>
      const createFolderBtn = document.body.querySelector(".create-folder-btn");
      createFolderBtn.addEventListener("click", () => {
        const folderModal = document.body.querySelector(".folder-modal");
        // const folderName = document.body.querySelector("#folderName");
        // folderName.target.value = "";
        folderModal.style.display =
          folderModal.style.display === "flex" ? "none" : "flex";
      });

      const addFileBtn = document.body.querySelector(".add-file-btn");
      addFileBtn.addEventListener("click", () => {
        const fileModal = document.body.querySelector(".file-modal");
        // const folderName = document.body.querySelector("#folderName");
        // folderName.target.value = "";
        fileModal.style.display =
          fileModal.style.display === "flex" ? "none" : "flex";
      });
    </script>
  </body>
</html>
